
body {

	background:  White;
	font-family: Algerian;

     }

    a:link,a:visited
{
	background-color: LightSalmon;
	color:White;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover,a:active
{
background-color:darkgreen;
}
     
	