
body {

	background:  White;
	
	font-family: TISA;

     }

    a:link,a:visited
{

	background-color: indigo	;
	color:White;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}


a:hover,a:active
{
background-color:#CD6855;
}
     
	