
body {

	background:  White;
	
	font-family: Algerian;

     }

    a:link,a:visited
{
	background-color: LightSalmon;
	color:White;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

}

.bg {
  /* The image used */
  background-image: url("fennekin by alkim45.png");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover,a:active
{
background-color:#CD6855;
}
     
	